@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;1,700&display=swap');

header{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-top: 20px;
    padding-right: 20px;
   
}


header .nav {
    color: white;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .nav.line:hover {
    text-decoration-line: underline;
}


body{
    background-color: #242323;
}

.containers{
    font-family: 'Montserrat', sans-serif;
    background-color: #242323;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google{
    color: white;
    font-size: 100px;
    font-weight: 500;
    padding-top: 130px;
    padding-bottom: 40px;
}

.searchBar > input{
    font-family: 'Montserrat', sans-serif;
    width: 400px;
    border: none;
    font-size: 16px;
    /* margin-right: 150px; */
   outline: none;
 
}

.searchBar{
background-color: white;
display: flex;
    /* width: 400px; */
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    gap: 10px;
    justify-content: space-between;
}

.searchBar input .searchIcon{
    text-align: center;
 
}
